
article {
    text-align: left;
    min-width: 320px;
    max-width: 960px;
    margin: 32px auto;
    padding: 8px 32px 64px 32px;
    border: 1px solid #CCCCCC;
    background-color: white;

    font-family: "Noto Serif", serif;
    font-size: 18px;
}

nav.postmenu {
    float:right;
    display: inline-block;
    margin-top: -4.0rem;
    margin-right: -16px;
    position: relative;

    .toggle {

    }

    ul {
        position: absolute;
        border: 1px solid #CCCCCC;
        margin: 0;
        padding: 0px;
        font-size: 14px;
        list-style: none;
        min-width: 120px;
    
        transition: all 200ms;
        right: 0;

        li {
            padding: 8px;
            margin: 4px 0 4px 0;
        }

        li:hover {
            background-color: #CCCCCC;
        }
    }


    .items-hide {
        display: none;
        opacity: 0.0;
    }

    .items-show {
        display: block;
        opacity: 1.0;
    }
}
