
article {
    text-align: left;
    min-width: 320px;
    max-width: 960px;
    margin: 32px auto;
    padding: 8px 32px 64px 32px;
    border: 1px solid #CCCCCC;
    background-color: white;

    font-family: "Noto Serif", serif;
    font-size: 18px;
}
