

/* Colors from Gruvbox
 * https://github.com/morhetz/gruvbox
 */

$yellow: #fabd2f;
$red: #fb4934;
$blue: #076678;
$purple: #d3869b;
$gray0: #ebdbb2;
$gray1: #a89984;
$gray2: #928374;
$gray3: #3c3836;
$gray4: #282828;
